h1{
    text-align: start !important;
    padding: 10px;
}

.table{
    font-size: 1.5rem;
}

.desc{
    top: 40% !important;
}

#btn-add{
    left: 42%;
    position: relative;
    border-radius: 1rem;
}